<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playlist.playlist_generator"
    android:versionCode="3"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/music_folder"
        android:label="Playlist Generator"
        android:debuggable="false"
        android:theme="@style/AppTheme" >
        <!-- android:debuggable="false" -->
        <activity
            android:name="com.playlist.playlist_generator.MainActivity"
            android:label="Playlist Generator"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.playlist.playlist_generator.FileManager_Activity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/FileManager"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.playlist.playlist_generator.PL_Path_Activity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/PL_FileManager"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.playlist.playlist_generator.Settings_activity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/action_settings"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.playlist.playlist_generator.Extensions"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/Files_extensions"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
